<!DOCTYPE HTML>
<html>
<head>
  <title>FFXIV</title>
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/text.css" />
  <link rel="stylesheet" href="/960.css" />
  <link rel="stylesheet" href="/jquery-ui-1.8.15.custom.css" />
  <link rel="stylesheet" href="/style.css" />
  <script type="text/javascript" src="/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="/jquery-ui-1.8.15.min.js"></script>
</head>
<body>
<div id="main" class="container_12">
<div id="content" class="grid_12">

<%= yield %>

</div>
<div class="clear"></div>
</div>
</body>
</html>
