<% @title = "Login" %>
<p>You gotta login first!</p>

<ul class="login">
  <li><a href="/auth/google"><img src="/images/google_128.png" alt="Google" /></a></li>
  <li><a href="/auth/open_id"><img src="/images/openid_128.png" alt="Open ID" /></a></li>
</ul>
