body {
  background-color: gray;
  font-family: verdana;
}

#main {
  margin: 1em auto;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#header {
  padding: 0.5em 0;
  border-bottom: 1px solid gray;
  background-color: lightgray;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#title {
  font-size: 2em;
  font-weight: bold;
}
#userinfo {
  padding-top: 0.8em;
  text-align: right;
}

#content {
  padding: 1em;
}

.errors {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 2px solid red;
  background: #eee;
  float: left;
  margin-bottom: 1em;
}
.errors h3 {
  font-size: 1.1em;
  background-color: red;
  color: white;
  margin: 0;
  padding: 0.3em;
  border: 0;
}
.errors ul {
  padding: 0.5em;
  margin-bottom: 0;
  list-style-type: square;
}
.errors li {
  margin-left: 1.5em;
}

table td {
  padding: 0.2em;
  vertical-align: middle;
}
